/* CSS Value
integer = bilangan bulat (positif/negatif)
number = bilangan pecahan
percentage = nilai % selalu relative terhadap nilai lain (pembungkus)
dimension = number yang memiliki satuan dibelakangnya
dimension (length,angle,time,resolution) :
angle(sudut) = deg,rad,grad,turn 
time = s,ms
*/

/* contoh percentage */
.box-besar {
    width: 80%;
    height: 200px;
    background-color: salmon;
}

.box-besar .box-kecil {
    width: 50%;
    height: 100px;
    background-color: royalblue;
}

.box-angle {
    width: 100px;
    height: 100px;
    margin: 50px;
    background-color: salmon;
    transform: rotate(300deg);
}